In [2]:
x = 3
print(x)

5

In [16]:
for i in range(0,x,3):
    print(i)

0
3

In [13]:
for j in range(10,2):
    print(j)

In [29]:
mySum = 0

for j in range(1,101):
    mySum = mySum + j

average = mySum/100
print(average)

50.5

In [19]:
import numpy as np

In [30]:
x = np.arange(1,101)
print(x)
average = np.mean(x)
print(average)

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100]
50.5

In [32]:
x = []
for j in range(10):
    x.append(j)

print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
def doubleMe(x):
    return x+x

def doubleUs(x, y):
    return x+x, y+y

In [37]:
print(doubleUs(5,10))

(10, 20)

In [ ]:
class asteroid:
    def __init__(self, x, y, heading, velocity): 
        self.material = "rocky"
        self.size = 5